@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

body {
  background: linear-gradient(0deg, rgba(41,42,53,1) 15%, rgba(49,103,109,1) 100%);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .answr_button_generic {
    display: block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    background-color: #31676d;
    color: white;
    box-shadow: 2px 2px 5px #282828;
    border-radius: 5px;
}
.answr_text {
  display: block;
  width: 300px;
  color: #87f5d3;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 20px;
}
img.answr_logo {
  width: 60px;
  height: 60px;
  margin: auto;
  display: block;
  margin-top: -150px;
  margin-bottom: 50px;
}
}
